@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sunflower:wght@300&display=swap');

.App {
  text-align: center;
  /* font-family: 'Sunflower', sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(8vh);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex; 
}
